<div class="nav">
    <ul class="clearfix">
   
        <li><a href="/qols/new"><span class="letter" data-letter="新規投稿">新規投稿</span></a></li>

      
        <li class="scroll" id="scroll"><a href="#box1"><span class="letter" data-letter="検索する">検索する</span></a></li>
     
        <div class="trans-rotate">
        <li class="logo"><a href="/qols"> <%= image_tag 'rogo1.png' %></a></li>
        </div>
        
        <li><a href="#"><span class="letter" data-letter="ランキング">ランキング</span></a></li>
        
        
        <% if user_signed_in? %>
            <li><a href="/users/<%= current_user.id %>"><span class="letter" data-letter="マイページ">マイページ</span></a></li>
        <% else %>
            <li><a href="/users/sign_in"><span class="letter" data-letter="マイページ">マイページ</span></a></li>
        <% end %>
    </ul>
</div>
<!-- /#nav --></div>
<div id="article">
<!-- /#article --></div>