// Place all the styles related to the qols controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new-block{
  border-radius:6px;
  background-color:#FAFAFA;
  width:50%;
  margin: 0 auto;
  text-align: center;
}

.new-block h3{
  background-color:#eca9a9;
  color:#FAFAFA;
  text-align: center;
}

.new-block .field input[type="text"]{
  border: 1px solid #cecece;
  background: #d7d7d7;
  color:#000000;
  border-radius: 5px;
  margin:30px;
}

.new-block .field::placeholder{
  color:#FAFAFA;
}

.new-block .field1 input[type="submit"]{
  margin-top:15px;
  margin-bottom:25px;
  background-color:#2ABCA7;
  padding: 12px 45px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2ABCA7;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width:30%;
  color:#fff;
}
.field1{
  margin: 0 auto;
}


.new-block .field1 input[type="submit"]:hover {
  background:#19a08c;
}